// ############################################
// Site utilities

#qg-mobile-menu {
  @include make-xs-column(6);
  @extend .list-inline;

  margin-top: 5px;
  text-align: right;

  button {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    border: none;
    background-color: transparent;
    text-align: center;

    @media (max-width: $screen-md) {
      color: $qg-site-header-util-links;
      @include fontSize(12px);
      line-height: 18px;
      font-weight: 800;
    }
    
    .fa {
      display: block;
      @include fontSize(20px);
    }
  }

  @media (min-width: $screen-md) {
    display: none;
  }

  @media print {
    display: none;
  }
}

#qg-header-utilities { // on UL
  @include make-xs-column(12);
  @include make-md-column(5);
  @extend .list-group;

  margin-bottom: 0;

  @media (min-width: $screen-md-min) {
    text-align: right;
  }

  .fa {
    @extend .hidden-md;
    @extend .hidden-lg;
    width: 16px;
    margin-right: 8px;
  }

  li {
    @include liMobileButtons;
    list-style-type: none;

    a {
      border-bottom: 1px solid $qg-light-gray-darker;

      @media (min-width: $screen-md) {
        border-bottom: 0;
      }
    }
  }

  @media (min-width: $screen-md) {
    li a {
      line-height: 43px;
    }
  }

  @media (min-width: $screen-md) {
    &.collapse {
      display: block;
      height: auto;
    }
  }
}

/*
#qg-site-header .qg-utilities {
  @include make-md-column(5);
  

  // a, a:link, button {
  //   color: $qg-site-header-util-links; // $qg-blue5;

  //   &:hover {
  //     color: $qg-site-header-util-links;
  //   }
  // }
  

  a, a:link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  li {
    padding-right: 0;
    padding-left: 0;
    line-height: 1.75em;

    button, a {
      display: inline-block;
      padding: 0;
      vertical-align: middle;
      border: none;
      background-color: transparent;

      @media (max-width: $screen-md) {
        color: $qg-site-header-util-links;
        @include fontSize(12px);
        line-height: 18px;
        font-weight: 800;

        &:hover {

        }
      }
      text-align: center;
      
      .fa {
        display: block;
        @include fontSize(20px);
      }
    }

    & + li {
      margin-left: 1em;
    }
  }

  @media (min-width: $screen-sm-min) {
    text-align: right;
  }


  @media print {
    display: none;
  }
}
*/
