#qg-site-header .qg-utilities {
  @include make-xs-column(6);
  @include make-md-column(5);

  /*
  @extend .col-xs-12;
  @extend .col-sm-6;
  @extend .col-md-5;
  */
  margin-top: 5px;
  text-align: right;

  a, a:link, button {
    color: $qg-site-header-util-links; // $qg-blue5;

    &:hover {
      color: $qg-site-header-util-links;
    }
  } 

  a, a:link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  li {
    padding-right: 0;
    padding-left: 0;
    line-height: 1.75em;

    button, a {
      display: inline-block;
      padding: 0;
      vertical-align: middle;
      border: none;
      background-color: transparent;

      @include fontSize(12px);
      line-height: 18px;
      font-weight: 800;
      text-align: center;
      
      .fa {
        display: block;
        @include fontSize(20px);
      }
    }

    & + li {
      margin-left: 1em;
    }
  }

  @media (min-width: $screen-sm-min) {
    text-align: right;
  }

  @media print {
    display: none;
  }
}
