// Responsive spacing
// QG addon to allow you to set dynamic padding or margins to elements based on the standard md break.

// Settings
@mixin qg-responsive-spacing ($prop, $scale: notset, $large: notset, $small: notset, $min: notset) {
  $default-min: $qg-spacing-xs / 2;
  $default-small: $qg-spacing-xs / 2;
  $default-large: $qg-spacing / 2;

  @if $scale != notset {
    @if $min == notset   { $min: $scale; }
    @if $small == notset { $small: $scale; }
    @if $large == notset { $large: $scale; }
  } @else {
    @if $min == notset   { $min: default; }
    @if $small == notset { $small: default; }
    @if $large == notset { $large: default; }
  }

  // Manipulate default / full variables
  @if $min == default {
    $min: $default-min;
  } @else if $min == full {
    $min: $default-min * 2;
  }
  @if $small == default {
    $small: $default-small;
  } @else if $small == full {
    $small: $default-small * 2;
  }
  @if $large == default {
    $large: $default-large;
  } @else if $large == full {
    $large: $default-large * 2;
  }

  // The xs breakpoint is dynamic. In this case, on xs
  @if $min != false {
    #{$prop}: $min;
  }

  // The md breakpoint is dynamic. In this case, on md
  @if $small != false {
    @media (min-width: $screen-md-min) {
      #{$prop}: $small;
    }
  }

  // The lg breakpoint is dynamic. In this case, on LG
  @if $large != false {
    @media (min-width: $screen-lg-min) {
      #{$prop}: $large;
    }
  }
}
